/* GLOBAL */
html
{
    font-size: 16px;

    box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

body
{
    font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
    line-height: 1.5;

    color: #3e4e57;
    background-color: #e0e0e0;

    -webkit-font-smoothing: antialiased;
}

html,
body
{
    height: 100%;
}

/* TEXT ELEMENTS */
p
{
    margin: 1em 0 0 0;
}

h1
{
    font-size: 2rem;
}

h2
{
    font-size: 1.5rem;
    margin-top: 0.375rem;
}

ul
{
    margin-left: 1.5em;
}

li + li
{
    margin-top: 0;
}

h2 + ul
{
    margin-top: 0.375rem;
}

a
{
    text-decoration: none;

    color: #007ace;
}

a:hover
{
    color: #084e8a;
}

/* HEADER */
header
{
    display: flex;

    padding: 3rem 1.5rem 1.5rem;

    align-items: center;
    justify-content: center;
}

/* MAIN CONTENT */
main
{
    display: flex;

    max-width: 1024px;
    margin: 0 auto;

    flex-wrap: wrap;
    justify-content: center;
}
section
{
    width: 340px;
    padding: 1.5rem;
}

/* FOOTER */
footer
{
    font-size: .75rem;

    display: flex;

    max-width: 1024px;
    margin: 1.125rem auto 1.5rem auto;

    letter-spacing: 1px;

    justify-content: center;
}

/* UTILITY CLASSES */
.blue
{
    color: #007ace;
}


/* MEDIA QUERIES */
@media (max-width: 679px)
{
    html {
      font-size: 18px;
    }
    header
    {
        justify-content: flex-start;
    }
    main
    {
        justify-content: flex-start;
    }
    footer
    {
        padding-left: 1.5rem;

        justify-content: flex-start;
    }
}
